<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

	<cb:include href="C:\PVS-Config\CC.Net\PVS-Template.xml" xmlns:cb="urn:ccnet.config.builder"/>
	
	<cb:scope
		Proj_ProjectName="PVS-Studio Analysis x64 trunk"
		Proj_ScheduleTime="18:30"
		Proj_DefSvnUpdate=""
		Proj_Platform="x64"
		Proj_IncrediBuild="UseIB"
		Proj_Team="Dalet"
		Proj_RootFolder="C:\PVS Dalet logs x64 trunk"
		Proj_PlogFile="generated-x64-projects.plog" >

		<cb:template_of_PVS_Analyse/>
	</cb:scope>

	<!-- Need to review -->
	<project name="PVS-Studio Amberfin x86" queuePriority="2" queue="Q1">
		<triggers>
			<!--scheduleTrigger time="22:00" buildCondition="ForceBuild" name="AnalyzeNightBuild" /-->
		</triggers>
		<labeller type="dateLabeller" />
		<cb:scope
			PVS_Platform="Amberfin_x64"
			PVS_IncrediBuild="NotUseIB"
			PVS_RootFolder="C:\PVS_Amberfin_x64"
			PVS_Folder="C:\PVS_Amberfin_x64\temp"
			PVS_PlogFile="PVS_Amberfin_x64.plog" >
			<tasks>
				<!--exec>
					<description>SvnUpdate.bat</description>
					<executable>C:\PVS-Config\CC.Net\SvnUpdate.bat</executable>
					<buildArgs></buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>10800</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec-->
				<!--exec>
					<description>PrepareWorkspace.bat</description>
					<executable>C:\PVS-Config\CC.Net\PrepareWorkspace.bat</executable>
					<buildArgs>x64 NotUseIB</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>1800</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec-->
				<exec>
					<description>Analyse.bat</description>
					<executable>C:\PVS-Config\CC.Net\Analyse.bat</executable>
					<buildArgs>$(PVS_Platform) $(PVS_IncrediBuild) "$(PVS_Folder)"</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>72000</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec>
			</tasks>		
			<publishers>
				<exec>
					<description>PublishingResults.bat</description>
					<executable>C:\PVS-Config\CC.Net\PublishingResults.bat</executable>
					<buildArgs>$(PVS_Platform) "$(PVS_Folder)"</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				</exec>
				<merge>
					<files>
						<file>$(PVS_RootFolder)\$(PVS_PlogFile)_totals.txt</file>
						<file>$(PVS_RootFolder)\$(PVS_PlogFile).txt</file>
					</files>
				</merge>
				<xmllogger />
				<!--exec>
					<description>ClearWorkspace.bat</description>
					<executable>C:\PVS-Config\CC.Net\ClearWorkspace.bat</executable>
					<buildArgs>x64</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				</exec-->
				<buildpublisher>
					<sourceDir>$(PVS_Folder)</sourceDir>
					<publishDir>$(PVS_RootFolder)</publishDir>
					<useLabelSubDirectory>true</useLabelSubDirectory>
					<alwaysPublish>true</alwaysPublish>
				</buildpublisher>
				<exec>
					<executable>C:\Windows\System32\cmd.exe</executable>
					<description>delete temp folder</description>
					<buildArgs>/c del /Q temp</buildArgs>
					<baseDirectory>"$(PVS_RootFolder)"</baseDirectory>
					<buildTimeoutSeconds>300</buildTimeoutSeconds>
				</exec>
			</publishers>
		</cb:scope>
	</project>
	
</cruisecontrol>
