<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
	<project name="Clean SVN" queuePriority="2" queue="Q1">
		<triggers>
			<scheduleTrigger time="18:25" buildCondition="ForceBuild" name="DebugNightBuildClean" />
		</triggers>
		<tasks>
			<exec>
				<executable>C:\Windows\System32\cmd.exe</executable>
				<description>Clean</description>
				<buildArgs>/c C:\ccscripts\cleansources.bat</buildArgs>
				<baseDirectory>S:\src\env</baseDirectory>
				<buildTimeoutSeconds>10800</buildTimeoutSeconds>
				<successExitCodes>0</successExitCodes>
			</exec>
		</tasks>
	</project>
	
	<project name="Dalet [Release Win32]" queuePriority="2" queue="Q1">
		<triggers>
			<!--scheduleTrigger time="18:30" buildCondition="ForceBuild" name="ReleaseNightBuildx86" /-->
		</triggers>
		<prebuild>
		</prebuild>
		<tasks>
			<exec>
				<description>SvnUpdate.bat</description>
				<executable>C:\PVS-Config\CC.Net\SvnUpdate.bat</executable>
				<buildArgs></buildArgs>
				<baseDirectory>C:\</baseDirectory>
				<buildTimeoutSeconds>10800</buildTimeoutSeconds>
				<successExitCodes>0</successExitCodes>
			</exec>
			<exec>
				<executable>C:\Windows\System32\cmd.exe</executable>
				<description>Build</description>
				<buildArgs>/c C:\ccscripts\buildcpprelease.bat</buildArgs>
				<baseDirectory>S:\src\env</baseDirectory>
				<buildTimeoutSeconds>100500</buildTimeoutSeconds>
				<successExitCodes>0</successExitCodes>
			</exec>
		</tasks>
	</project>

	<project name="Dalet [Release x64]" queuePriority="2" queue="Q1">
		<triggers>
			<!--scheduleTrigger time="18:30" buildCondition="ForceBuild" name="ReleaseNightBuildx64" /-->
		</triggers>
		<prebuild>
		</prebuild>
		<tasks>
			<exec>
				<description>SvnUpdate.bat</description>
				<executable>C:\PVS-Config\CC.Net\SvnUpdate.bat</executable>
				<buildArgs></buildArgs>
				<baseDirectory>C:\</baseDirectory>
				<buildTimeoutSeconds>10800</buildTimeoutSeconds>
				<successExitCodes>0</successExitCodes>
			</exec>
			<exec>
				<executable>C:\Windows\System32\cmd.exe</executable>
				<description>Build</description>
				<buildArgs>/c C:\ccscripts\buildcppreleasex64.bat</buildArgs>
				<baseDirectory>S:\src\env</baseDirectory>
				<buildTimeoutSeconds>100500</buildTimeoutSeconds>
				<successExitCodes>0</successExitCodes>
			</exec>
		</tasks>
	</project>

	<project name="PVS-Studio Analysis x86 trunk" queuePriority="2" queue="Q1">
		<triggers>
			<scheduleTrigger time="18:30" buildCondition="ForceBuild" name="AnalyzeNightBuild" />
		</triggers>
		<labeller type="dateLabeller" />
		<tasks>
			<exec>
				<description>SvnUpdate.bat</description>
				<executable>C:\PVS-Config\CC.Net\SvnUpdate.bat</executable>
				<buildArgs></buildArgs>
				<baseDirectory>C:\</baseDirectory>
				<buildTimeoutSeconds>10800</buildTimeoutSeconds>
				<successExitCodes>0</successExitCodes>
			</exec>
			<conditional>
			  <conditions>
			   <compareCondition>
				 <value1>$[IncrediBuild]</value1>
				 <value2>NotUseIB</value2>
				 <evaluation>equal</evaluation>
			   </compareCondition>
			  </conditions>
			  <tasks>
				<exec>
					<description>PrepareWorkspace.bat</description>
					<executable>C:\PVS-Config\CC.Net\PrepareWorkspace.bat</executable>
					<buildArgs>x86 NotUseIB</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>1800</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec>
				<exec>
					<description>Analyse.bat</description>
					<executable>C:\PVS-Config\CC.Net\Analyse.bat</executable>
					<buildArgs>x86 NotUseIB "C:\PVS Dalet logs x86 trunk\temp"</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>72000</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec>
			  </tasks>
			  <elseTasks>
				<exec>
					<description>PrepareWorkspace.bat</description>
					<executable>C:\PVS-Config\CC.Net\PrepareWorkspace.bat</executable>
					<buildArgs>x86 UseIB</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>1800</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec>
				<exec>
					<description>Analyse.bat</description>
					<executable>C:\PVS-Config\CC.Net\Analyse.bat</executable>
					<buildArgs>x86 UseIB "C:\PVS Dalet logs x86 trunk\temp"</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>72000</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec>
			  </elseTasks>
			</conditional>
		</tasks>		
		<publishers>
			<exec>
				<description>PublishingResults.bat</description>
				<executable>C:\PVS-Config\CC.Net\PublishingResults.bat</executable>
				<buildArgs>x86 "C:\PVS Dalet logs x86 trunk\temp"</buildArgs>
				<baseDirectory>C:\</baseDirectory>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
			</exec>
			<merge>
				<files>
					<file>C:\PVS Dalet logs x86 trunk\temp\generated-x86-projects.plog_totals.txt</file>
					<file>C:\PVS Dalet logs x86 trunk\temp\generated-x86-projects.plog.txt</file>
				</files>
		    </merge>
			<xmllogger />
			<exec>
				<description>ClearWorkspace.bat</description>
				<executable>C:\PVS-Config\CC.Net\ClearWorkspace.bat</executable>
				<buildArgs>x86</buildArgs>
				<baseDirectory>C:\</baseDirectory>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
			</exec>
			<buildpublisher>
				<sourceDir>C:\PVS Dalet logs x86 trunk\temp\</sourceDir>
				<publishDir>C:\PVS Dalet logs x86 trunk\</publishDir>
				<useLabelSubDirectory>true</useLabelSubDirectory>
				<alwaysPublish>true</alwaysPublish>
			</buildpublisher>
			<exec>
				<executable>C:\Windows\System32\cmd.exe</executable>
				<description>delete temp folder</description>
				<buildArgs>/c del /Q temp</buildArgs>
				<baseDirectory>C:\PVS Dalet logs x86 trunk</baseDirectory>
				<buildTimeoutSeconds>300</buildTimeoutSeconds>
			</exec>
		</publishers>
		<parameters>
		  <selectParameter>
			<name>IncrediBuild</name>
			<allowedValues>
			  <value name="Do not use IncrediBuild">NotUseIB</value>
			  <value name="Use IncrediBuild">UseIB</value>
			</allowedValues>
			<default>UseIB</default>
			<description>Use Incredibuild for analysis</description>
		  </selectParameter>
		</parameters>
	</project>
	
	<project name="PVS-Studio Analysis x64 trunk" queuePriority="2" queue="Q1">
		<triggers>
			<scheduleTrigger time="22:00" buildCondition="ForceBuild" name="AnalyzeNightBuild" />
		</triggers>
		<labeller type="dateLabeller" />
		<tasks>
			<exec>
				<description>SvnUpdate.bat</description>
				<executable>C:\PVS-Config\CC.Net\SvnUpdate.bat</executable>
				<buildArgs></buildArgs>
				<baseDirectory>C:\</baseDirectory>
				<buildTimeoutSeconds>10800</buildTimeoutSeconds>
				<successExitCodes>0</successExitCodes>
			</exec>
			<conditional>
			  <conditions>
			   <compareCondition>
				 <value1>$[IncrediBuild]</value1>
				 <value2>NotUseIB</value2>
				 <evaluation>equal</evaluation>
			   </compareCondition>
			  </conditions>
			  <tasks>
				<exec>
					<description>PrepareWorkspace.bat</description>
					<executable>C:\PVS-Config\CC.Net\PrepareWorkspace.bat</executable>
					<buildArgs>x64 NotUseIB</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>1800</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec>
				<exec>
					<description>Analyse.bat</description>
					<executable>C:\PVS-Config\CC.Net\Analyse.bat</executable>
					<buildArgs>x64 NotUseIB "C:\PVS Dalet logs x64 trunk\temp"</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>72000</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec>
			  </tasks>
			  <elseTasks>
				<exec>
					<description>PrepareWorkspace.bat</description>
					<executable>C:\PVS-Config\CC.Net\PrepareWorkspace.bat</executable>
					<buildArgs>x64 UseIB</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>1800</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec>
				<exec>
					<description>Analyse.bat</description>
					<executable>C:\PVS-Config\CC.Net\Analyse.bat</executable>
					<buildArgs>x64 UseIB "C:\PVS Dalet logs x64 trunk\temp"</buildArgs>
					<baseDirectory>C:\</baseDirectory>
					<buildTimeoutSeconds>72000</buildTimeoutSeconds>
					<successExitCodes>0</successExitCodes>
				</exec>
			  </elseTasks>
			</conditional>
		</tasks>		
		<publishers>
			<exec>
				<description>PublishingResults.bat</description>
				<executable>C:\PVS-Config\CC.Net\PublishingResults.bat</executable>
				<buildArgs>x64 "C:\PVS Dalet logs x64 trunk\temp"</buildArgs>
				<baseDirectory>C:\</baseDirectory>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
			</exec>
			<merge>
				<files>
					<file>C:\PVS Dalet logs x64 trunk\temp\generated-x64-projects.plog_totals.txt</file>
					<file>C:\PVS Dalet logs x64 trunk\temp\generated-x64-projects.plog.txt</file>
				</files>
		    </merge>
			<xmllogger />
			<exec>
				<description>ClearWorkspace.bat</description>
				<executable>C:\PVS-Config\CC.Net\ClearWorkspace.bat</executable>
				<buildArgs>x64</buildArgs>
				<baseDirectory>C:\</baseDirectory>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
			</exec>
			<buildpublisher>
				<sourceDir>C:\PVS Dalet logs x64 trunk\temp\</sourceDir>
				<publishDir>C:\PVS Dalet logs x64 trunk\</publishDir>
				<useLabelSubDirectory>true</useLabelSubDirectory>
				<alwaysPublish>true</alwaysPublish>
			</buildpublisher>
			<exec>
				<executable>C:\Windows\System32\cmd.exe</executable>
				<description>delete temp folder</description>
				<buildArgs>/c del /Q temp</buildArgs>
				<baseDirectory>C:\PVS Dalet logs x64 trunk</baseDirectory>
				<buildTimeoutSeconds>300</buildTimeoutSeconds>
			</exec>
		</publishers>
		<parameters>
		  <selectParameter>
			<name>IncrediBuild</name>
			<allowedValues>
			  <value name="Do not use IncrediBuild">NotUseIB</value>
			  <value name="Use IncrediBuild">UseIB</value>
			</allowedValues>
			<default>UseIB</default>
			<description>Use Incredibuild for analysis</description>
		  </selectParameter>
		</parameters>
	</project>
	
</cruisecontrol>
