<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

	<cb:include href="C:\PVS-Config\CC.Net\PVS-Template.xml" xmlns:cb="urn:ccnet.config.builder"/>
	
	<cb:scope
		Proj_ProjectName="PVS-Studio Analysis x64 trunk"
		Proj_ScheduleTime="18:30"
		Proj_DefSvnUpdate=""
		Proj_Platform="x64"
		Proj_IncrediBuild="UseIB"
		Proj_Team="Dalet"
		Proj_RootFolder="C:\PVS Dalet logs x64 trunk"
		Proj_PlogFile="generated-x64-projects.plog" >

		<cb:template_of_PVS_Analyse/>
	</cb:scope>

	<cb:scope
		Proj_ProjectName="Dalet PVS-Analysis SonarQube x64 CmdVer"
		Proj_Platform="x64"
		Proj_IncrediBuild="UseIB"
		Proj_DefSvnUpdate=""
		Proj_SvnUpdateArgs=""
		Proj_Team="Dalet"
		Proj_CmdVer="CmdVer"
		Proj_RootFolder="C:\PVS Dalet logs x64 trunk"
		Proj_ScheduleTime="02:00"
		Proj_PlogFile="generated-x64-projects.plog">
		
		<cb:template_of_PVS_Analyse_SonarQube/>
	</cb:scope>
	
	<cb:scope
		Proj_ProjectName="Dalet SonarQube Java Analysis"
		Proj_IncrediBuild="NotUseIB"
		Proj_DefSvnUpdate=""
		Proj_SvnUpdateArgs=""
		Proj_Team="Viva"
		Proj_RootFolder="C:\PVS Dalet logs x64 trunk"
		Proj_ScheduleTime="05:00">
		
		<cb:template_of_SonarQube_Analysis_Java/>
	</cb:scope>
</cruisecontrol>
